#heroSection {
  b {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 62px;
    line-height: 88px;
    letter-spacing: -5%;
  }
  #ai {
    color: "#F54748" !important;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 62px;
    line-height: 88px;
    letter-spacing: -5%;
  }
  p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.5%;
  }
}
