// .loginCard {
//     width: 50%;
// }

.loginPage {
  min-height: 100vh;
  background: rgb(253, 236, 236); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    rgb(253, 236, 236),
    rgb(253, 236, 236)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    rgb(253, 236, 236),
    rgb(253, 236, 236)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  // .card{
  //     box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  // }
  .btn-home {
    position: absolute;
    top: 0px;
    left: 0px;
    color: white;
  }
  .OR {
    position: absolute;
    bottom: -11px;
    left: 45%;
    background-color: white;
    z-index: 1;
    padding-left: 2%;
    padding-right: 2%;
    // color: rgb(245, 71, 72);;
    border: 1px #eee3e3 solid;
    border-radius: 5px;
  }
  div.text-center {
    i {
      border: 4px solid rgb(245, 71, 72);
      border-radius: 50%;
    }
  }
  a {
    text-decoration: none;
    color: black;
  }

  .loginButton {
    background-color: rgb(245, 71, 72);
    width: 100%;
    color: white;
  }
  // .fb{
  //     width: 43px;
  //     height: 38px;
  //     margin-top: 1px;
  // }
  // .cbtn{
  //     border: 2px solid red;
  //     border-radius: 50%;
  // }
}
